# Ignorar basura de metadatos de R
.Rhistory
.RData
.Rproj.user/

# Ignorar basura de Python
__pycache__/
*.pyc

# Ignorar archivos del sistema operativo
Thumbs.db
.DS_Store
reports/~WRL0003.tmp
reports/~$port_Neurocognitivo_All.docx
